# for ecpos package which is still using pkg_resources (setuptools v82.0.0 removed pkg_resources)
setuptools>34,<82
wheel
#jcconv
simplejson
Flask
Flask-Babel
Flask-cors
requests
pyusb
pyserial
Pillow
netifaces
pycups
pymtp
git+https://github.com/akretion/py-xml-escpos.git@py3
pypostelium
pyposdisplay
