#!/usr/bin/make -f
#source_dir = ${CURDIR}/debian/source
#include_binaries = ${source_dir}/include-binaries
SNAKE=/usr/bin/python3

%:
	dh $@ --with python-virtualenv --buildsystem=pybuild

override_dh_virtualenv:
	dh_virtualenv --python=$(SNAKE) --builtin-venv
	# the prebuilt pycups wheel needs AVX; rebuild it from source so the
	# packaged venv also works on weak/old CPUs (e.g. Celeron J4125)
	debian/pywebdriver/opt/venvs/pywebdriver/bin/pip install --no-binary :all: --force-reinstall pycups

# https://dh-virtualenv.readthedocs.io/en/latest/howtos.html#handling-binary-wheels
override_dh_strip:
	dh_strip --exclude=/site-packages/

override_dh_shlibdeps:
	dh_shlibdeps --exclude=/site-packages/

ubuntu_version := $(shell (lsb_release -r | cut -f2))

override_dh_gencontrol:
ifneq ($(filter $(ubuntu_version),24.04 26.04),)
	dh_gencontrol -- '-Voptional:pywebdriverDepends=libtiff6'
else
	dh_gencontrol -- '-Voptional:pywebdriverDepends=libtiff5, python3-distutils'
endif

override_dh_install:
	dh_install

ifeq ($(ubuntu_version),24.04)
	# Ubuntu 24.04 → use /lib
	install -D -m 644 debian/99-pywebdriver.rules debian/pywebdriver/lib/udev/rules.d/99-pywebdriver.rules
else
	# Other systems → use /usr/lib
	install -D -m 644 debian/99-pywebdriver.rules debian/pywebdriver/usr/lib/udev/rules.d/99-pywebdriver.rules
endif
